@import './global.scss';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.app {
    height: 100vh;
    
    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #ffa07a; //lightsalmon
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        
        &::-webkit-scrollbar {
            display: none;
        }

        > * {
            width: 100vw;
            min-height: calc(100vh - 70px);
            scroll-snap-align: start;
            overflow: hidden;
        }

        
    }

    @include mobile-landscape {
        .sections {
            height: 100%;
            > * {
                height: fit-content;
            }
        }
    };
}
